:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slcStory {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    width: 100px
}

#txtItem {
    width: 20rem;
}

.ancTag {
    text-decoration: none;
    text-align: left;
    padding: 5px;
    color: whitesmoke;
}

.navbar {
    background-color: #28a745;
    color: whitesmoke;
    margin: 0%;
}

#selectDiv {
    justify-content: center;
    align-content: center;
}

.menuHolder {
    margin: 0%;
    padding: 0%;
}

p {
    padding: 15px;
    color: gre#28a745en;
    text-align: center;
}

.ancTag:hover {
    background-color: whitesmoke;
    color: #28a745;
}

.formItems {
    color: #28a745
}

h1 {
    color: #28a745;
    text-align: center;
}

td {
    padding: 5px;
}

.lableItem {
    color: #28a745;
}