{% extends 'base.html' %}
<title>{% block title %}Madlibs{% endblock %}</title>
{% block content %}
<h1>Madlibs!</h1>
<div class="div col-4"></div>
<div class="div col-4" id="selectDiv">
    {% if not request.args %}
    <form action="/" method="get" name="frmMain" id="frmMain">
        <select name="storyID" id="slcStory" class="form-select form-select-lg"
            onchange=javascript:document.frmMain.submit()>
            <option value="" selected>Please select a story</option>
            {% for story in stories %}
            <option value={{stories.index(story)}}>{{story}}</option>
            {% endfor %}
        </select>
    </form>
    {% endif %}
</div>
<div class="div col-4"></div>
<hr>
<div class="div container">
    <div class="div row">
        <table>
            <form method="GET" name="frmBuild" action="/buildMadlibs" class="form">
                {% for item in ans %}
                <tr>
                    <td align="right" width="50%">
                        <label for={{item}} class="lableItem">{{item.capitalize().replace('_', ' ')}} : </label>
                    </td>
                    <td>
                        <input type="text" name={{item}}>
                    </td>
                </tr>
                {% endfor %}

                {% if request.args %}
                <input type="hidden" name="storyID" id="storyID" value="{{request.args.get('storyID')}}">
                <tr>
                    <td colspan="2" align="center">
                        <button class="btn btn-success">Create Madlib</button>
                    </td>
                </tr>
                {% endif %}
            </form>
        </table>
    </div>
</div>
<hr>
{% endblock %}